<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Причины звонков</title>
</head>
<body>
<h1>Причины звонков</h1>
<a href="{% url 'reason_create' %}">Добавить причину</a>
<a href="{% url 'home' %}">На главную</a>
<table border="1">
    <tr>
        <th>Описание</th>
        <th>Действия</th>
    </tr>
    {% for reason in reasons %}
    <tr>
        <td>{{ reason.description }}</td>
        <td>
            {% if perms.calls.change_call %}
            <a href="{% url 'reason_update' reason.pk %}">Редактировать</a>
            {% endif %}
            {% if perms.calls.delete_call %}
            <a href="{% url 'reason_delete' reason.pk %}">Удалить</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>