<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Статусы</title>
</head>
<body>
<h1>Статусы</h1>
<a href="{% url 'status_create' %}">Добавить статус</a>
<a href="{% url 'home' %}">На главную</a>
<table border="1">
    <tr>
        <th>Описание</th>
        <th>Действия</th>
    </tr>
    {% for status in statuses %}
    <tr>
        <td>{{ status.description }}</td>
        <td>
            {% if perms.calls.change_call %}
            <a href="{% url 'call_update' call.pk %}">Редактировать</a>
            {% endif %}
            {% if perms.calls.delete_call %}
            <a href="{% url 'call_delete' call.pk %}">Удалить</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>